.logo {
    max-width: 128px;
}

.circle {
    border: 2px solid #1779ba;
    border-radius: 50% 50%;
    max-height: 25vmax;
}

body {
    position: relative;
}

main {
    padding: 30px 40px;
    padding-bottom: 100px;
}


footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    /*background-color: rgba(83,92,159,0.54);*/
    display: none;
}

.center-img {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}


.description {
    font-size: 2vmax;
}

.role {
    text-align: center;
}

@media (min-width: 1024px){
    .role {
        text-align: left;
    }
}

html {
    overflow-x: hidden;
}

.rotate {
    transform: rotate(180deg);
}

.project {
    margin: 20px 10px;
}

.project figcaption {
    margin: 5px;
    text-align: center;
}

.circle-img-link {
    outline: none;
}
